logs
project/project
project/target
project/activator-*
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
bower_components
conf/application.conf
project/build.properties
project/Build.scala
test/javascripts/jasmine/lib
test/javascripts/jasmine/mocks/angular-mocks.js
